@page
@using LeaderPivot;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table-bordered table">
        @foreach (MatrixRow tr in Model.table.Rows)
        {
            <tr>
                @foreach (MatrixCell c in tr.Cells)
                { 
                    <td rowspan="@c.RowSpan" colspan="@c.ColSpan">@c.Value</td>
                }
            </tr>
        }
    </table>
</div>
